@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

:root {
  --text-color: #434b54;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.splash-heading {
  font-family: 'Courgette', cursive, sans-serif;
  letter-spacing: 1.5px;
   text-align: center;
}

.splash-heading > p {
  font-size: 0.8rem;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;
}

main {
  background-color: rgb(239, 239, 239);
  overflow: hidden;
}

header {
  background-color: #3778c2;
}

i {
  color: white;
}

form:not(.new_user, .edit_user) {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.custom-btn {
  background-color: #5fb523;
  width: 100%;
  appearance: none;
  border: none;
  outline: none;
  margin-top: auto;
  padding: 1em;
  height: 80px;
  display: flex;
  justify-content: center;
}

.custom-btn > * {
  color: white;
  border: 1px solid white;
  padding: 0.78em;
  display: inline-block;
  width: 95%;
  height: 50px;
  font-weight: bold;
  transition: all 0.5 ease;
  background-color: transparent;
}

.custom-btn > *:hover {
  color: black;
  border-color: inherit;
}

.icon-image {
  width: 80px;
  height: auto;
  object-fit: cover;
}

.custom-text-color {
  color: var(--text-color);
}

.date-font-size {
  font-size: 0.8rem;
}

.scale-list-item {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.scale-list-item:hover {
  transform: scale(1.01);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in {
  animation: slideIn 3s ease-in-out;
}
